
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 col-sm-8 col-12 align-self-center">
                <div class="wrapper-panel-box text-left">
                    <div class="panel-title text-left"><h3>Reset Password</h3></div>
                    <div class="panel-body">
                        
                        {% if not messages %}
                        <p class="font-reg">Silahkan masukkan email kamu di bawah, kami akan mengirimkan link untuk mengubah password kamu.</p>
                        {% endif %}
                        {% for message in messages %}
                        <p class="font-reg">{{message}}</p>
                        {% endfor %}
                        <form enctype="multipart/form-data" method="POST" id="form"  class="uniForm">
                            {% csrf_token %}
                            <div class="form">
                                {% crispy reset_form %}
                                <button class="btn btn-primary btn-block" type="submit">KIRIM</button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="panel-body text-center bg-light-blue register-sec">
                        <p class="font-reg">Remember your password ? <a href="{% url 'home:login' %}">Try login again</a></p> 
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
{% endblock %}