{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            .page-login {
                height: 100vh;
            }
        </style>
</head>

<body>
    <div class="wrapper-page page-login">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-12 col-lg-4 align-self-center">
                    <div class="wrapper-panel-box card p-lg-4">
                        <div class="card-title text-center">
                            <h3 class="form-title font-weight-bold">Login</h3>
                        </div>
                        <div class="card-body">
                            <form enctype="multipart/form-data" method="POST" id="form" class="uniForm">
                                {% csrf_token %}
                                <div class="form">
                                    {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                    <p class="alert alert-danger" role="alert">{{message}}</p>
                                    {% else  %}
                                    <p class="alert alert-success" role="alert">{{message}}</p>
                                    {% endif %}
                                    {% endfor %}
                                    {% crispy form %}
                                    <button type="submit" class="btn btn-primary btn-block font-weight-bold mt-2"
                                        id="btn-submit">LOGIN</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>